
<%= render 'player' , locals: { video: @video } %>

<div class="row">
<div class="col-md-12 text-center">
   <% if @video.team_one && @video.team_two %>
   <h4><%= @video.team_one.title %> VS  <%= @video.team_two.title %></h4>
   <% end %>
</div>
</div>

